<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.phonegap.plugins.oauthio"
    version="0.1.1">

    <name>OAuth.io</name>

    <description>
      &lt;p&gt;This is the official plugin for OAuth.io in Apache Cordova/PhoneGap!&lt;/p&gt;

      &lt;p&gt;The OAuth.io plugin for Apache Cordova/PhoneGap allows you to use the same JavaScript code in your PhoneGap application as you use in your web application, to connect any OAuth provider available on OAuth.io.&lt;/p&gt;
    </description>

    <asset src="www/oauth.js" target="oauth.js" />
    <js-module src="www/oauth.js" name="OAuth">
        <clobbers target="OAuth" />
    </js-module>

    <config-file target="config.xml" parent="/*">
      <access origin="https://oauth.io" />
    </config-file>

    <engines>
      <engine name="cordova" version=">=3.0.0" />
    </engines>

    <dependency id="org.apache.cordova.inappbrowser" url="https://git-wip-us.apache.org/repos/asf/cordova-plugin-inappbrowser.git" />
</plugin>
